.sidebar .user-info .image {

    margin-right: 0px !important;
    width: 25%;
    padding-right: 12px;

}

.theme-orange .sidebar .user-info .info-container {

    width: 75%;

}
.sidebar .user-info .info-container .email{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.form-group
{
	position:relative;
}
.form-group .invalid-feedback
{
	position:absolute;
}
.form-control.is-invalid
{
	background-image:none !important;

}

#sa-loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display:none;
}
#sa-loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}
a.sa-active{
background-color:#f6f6f6;
border-left: 3px solid; 
border-left-color: currentcolor;
border-bottom: none;
border-bottom-color: currentcolor;
border-top: none;
border-top-color: currentcolor;
border-color:#00bcd4;
}
.main-block .block .form-group
{
	margin-bottom:0px;
}
.main-block .block .form-group input,.main-block .form-group textarea
{
	text-indent:15px;
}

.dropdown-menu{
  transform: none !important;
}

.pull-left{
  float: left;
}
.bootstrap-select.btn-group.show-tick>.btn
{
	border-bottom:none !important;
}